##
## directory
##
/.bin
/.out
/.log
/.logs
/.build
/.cache
/.target

.svelte-kit

bin
out
log
logs
build
cache
target

node_modules

##
## extension
##
*.bak*
*.zip
*Zone.Identifier

##
## file: include
##
/.config/config.*.json
/.nvim/*.json
/.vscode/*.json
/.zed/*.json

/CMakePresets.json
/test_*

dbuild.*

compile_commands.json

config.h
export.h
export_static.h
export_shared.h

##
## file: exclude
##
!/.config/config.*.json.template
!/.nvim/*.json.template
!/.vscode/*.json.template
!/.zed/*.json.template

